<h3>EducacaoFacebook</h3>
<div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder">
  <datasource filter="" name="EducacaoFacebook" entity="api/rest/itv/EducacaoFacebook" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
</div>
<div data-component="crn-button" id="crn-button-564202">
  <button class="btn btn-primary" type="submit" onclick="" ng-click="EducacaoFacebook.startInserting()" ng-hide="EducacaoFacebook.inserting || EducacaoFacebook.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<div class="component-holder" data-component="crn-grid" id="crn-grid-EducacaoFacebook">
  <div crn-datasource="EducacaoFacebook" class="" ng-hide="EducacaoFacebook.editing || EducacaoFacebook.inserting">
    <table class="table  table-bordered table-hover table-striped">
      <thead>
        <tr class="table-header">
          <th class="">
            <div class="">Id</div>
          </th>
          <th class="">
            <div class="">Ensino Medio</div>
          </th>
          <th class="">
            <div class="">Ano Ensino Medio</div>
          </th>
          <th class="">
            <div class="">Ensino Superior</div>
          </th>
          <th class="">
            <div class="">Ano Ensino Superior</div>
          </th>
          <th class="">
            <div class="">Curso Superior</div>
          </th>
          <th class="">
            <div class="">Formacao</div>
          </th>
          <th class="">
            <div class="">DadoPessoalFacebook</div>
          </th>
          <th class="">
            <div class="">{{"template.crud.actions" | translate}}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-content" ng-repeat="rowData in datasource.data">
          <td class="">
            <div class="">
              {{rowData.id}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.ensinoMedio}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.anoEnsinoMedio | date:'dd/MM/yyyy'}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.ensinoSuperior}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.anoEnsinoSuperior | date:'dd/MM/yyyy'}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.cursoSuperior}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.formacao}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.dadoPessoalFacebook.urlId}}
            </div>
          </td>
          <td class="">
            <div class="">
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer-controls">
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
    </div>
  </div>
</div>
<div data-component="crn-form" id="crn-form-form-EducacaoFacebook">
  <div class="form" ng-show="EducacaoFacebook.editing || EducacaoFacebook.inserting">
    <form crn-datasource="EducacaoFacebook" class="">
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
      <br/>
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">
        
        <div data-component="crn-textinput" id="crn-textinput-ensinoMedio">
          <div class="form-group">
            <label for="textinput-ensinoMedio" class="">Ensino Medio</label>
            <input
              type="text"
              ng-model="EducacaoFacebook.active.ensinoMedio"
              class="form-control"
              id="textinput-ensinoMedio"
              placeholder="Ensino Medio"
              >
          </div>
        </div>
        
        <div data-component="crn-textinput" id="crn-textinput-anoEnsinoMedio">
          <div class="form-group">
            <label for="textinput-anoEnsinoMedio" class="">Ano Ensino Medio</label>
            <div style="position:relative">
              <input type="text" as-date
              format="DD/MM/YYYY"
              ng-model="EducacaoFacebook.active.anoEnsinoMedio" class="form-control" id="textinput-anoEnsinoMedio" placeholder="Ano Ensino Medio" >
            </div>
          </div>
        </div>
        
        <div data-component="crn-textinput" id="crn-textinput-ensinoSuperior">
          <div class="form-group">
            <label for="textinput-ensinoSuperior" class="">Ensino Superior</label>
            <input
              type="text"
              ng-model="EducacaoFacebook.active.ensinoSuperior"
              class="form-control"
              id="textinput-ensinoSuperior"
              placeholder="Ensino Superior"
              >
          </div>
        </div>
        
        <div data-component="crn-textinput" id="crn-textinput-anoEnsinoSuperior">
          <div class="form-group">
            <label for="textinput-anoEnsinoSuperior" class="">Ano Ensino Superior</label>
            <div style="position:relative">
              <input type="text" as-date
              format="DD/MM/YYYY"
              ng-model="EducacaoFacebook.active.anoEnsinoSuperior" class="form-control" id="textinput-anoEnsinoSuperior" placeholder="Ano Ensino Superior" >
            </div>
          </div>
        </div>
        
        <div data-component="crn-textinput" id="crn-textinput-cursoSuperior">
          <div class="form-group">
            <label for="textinput-cursoSuperior" class="">Curso Superior</label>
            <input
              type="text"
              ng-model="EducacaoFacebook.active.cursoSuperior"
              class="form-control"
              id="textinput-cursoSuperior"
              placeholder="Curso Superior"
              >
          </div>
        </div>
        
        <div data-component="crn-textinput" id="crn-textinput-formacao">
          <div class="form-group">
            <label for="textinput-formacao" class="">Formacao</label>
            <input
              type="text"
              ng-model="EducacaoFacebook.active.formacao"
              class="form-control"
              id="textinput-formacao"
              placeholder="Formacao"
              >
          </div>
        </div>
        <div data-component="crn-datasource" class="component-holder">
          <datasource name="Dadopessoalfacebook" entity="api/rest/itv/DadoPessoalFacebook" keys="id" class="" dependent-by="{{EducacaoFacebook}}"></datasource>
        </div>
        
        <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-dadoPessoalFacebook">
          <div class="form-group">
            <label for="combobox-dynamic-dadoPessoalFacebook" class="">DadoPessoalFacebook</label>
            <ui-select ng-model="EducacaoFacebook.active.dadoPessoalFacebook" crn-datasource="Dadopessoalfacebook" class="crn-select" id="combobox-dynamic-dadoPessoalFacebook"  theme="bootstrap">
              <ui-select-match class="" placeholder="Select...">
                {{$select.selected.urlId}}
              </ui-select-match>
              <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                <div class="" data-container="true">
                  {{rowData.urlId}}
                </div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <!-- NtoN  -->
        <!-- NtoN  end-->
      </fieldset>
    </form>
    <form>
        <fieldset>
        <!-- OneToN -->
        <!-- OneToOne  end -->
        </fieldset>
    </form>
  </div>
</div>


<!-- OneToOne modal -->
<!-- OneToOne modal end-->