<h3>ExperienciaLinkedIn</h3>
<div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder">
  <datasource filter="" name="ExperienciaLinkedIn" entity="api/rest/itv/ExperienciaLinkedIn" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
</div>
<div data-component="crn-button" id="crn-button-564202">
  <button class="btn btn-primary" type="submit" onclick="" ng-click="ExperienciaLinkedIn.startInserting()" ng-hide="ExperienciaLinkedIn.inserting || ExperienciaLinkedIn.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<div class="component-holder" data-component="crn-grid" id="crn-grid-ExperienciaLinkedIn">
  <div crn-datasource="ExperienciaLinkedIn" class="" ng-hide="ExperienciaLinkedIn.editing || ExperienciaLinkedIn.inserting">
    <table class="table  table-bordered table-hover table-striped">
      <thead>
        <tr class="table-header">
          <th class="">
            <div class="">Id</div>
          </th>
          <th class="">
            <div class="">Local</div>
          </th>
          <th class="">
            <div class="">Cargo</div>
          </th>
          <th class="">
            <div class="">Periodo</div>
          </th>
          <th class="">
            <div class="">Cidade</div>
          </th>
          <th class="">
            <div class="">Descricao</div>
          </th>
          <th class="">
            <div class="">DadoPessoalLinkedIn</div>
          </th>
          <th class="">
            <div class="">{{"template.crud.actions" | translate}}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-content" ng-repeat="rowData in datasource.data">
          <td class="">
            <div class="">
              {{rowData.id}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.local}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.cargo}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.periodo | date:'dd/MM/yyyy'}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.cidade}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.descricao}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.dadoPessoalLinkedIn.url}}
            </div>
          </td>
          <td class="">
            <div class="">
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer-controls">
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
    </div>
  </div>
</div>
<div data-component="crn-form" id="crn-form-form-ExperienciaLinkedIn">
  <div class="form" ng-show="ExperienciaLinkedIn.editing || ExperienciaLinkedIn.inserting">
    <form crn-datasource="ExperienciaLinkedIn" class="">
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
      <br/>
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">
        
        <div data-component="crn-textinput" id="crn-textinput-local">
          <div class="form-group">
            <label for="textinput-local" class="">Local</label>
            <input
              type="text"
              ng-model="ExperienciaLinkedIn.active.local"
              class="form-control"
              id="textinput-local"
              placeholder="Local"
              >
          </div>
        </div>
        
        <div data-component="crn-textinput" id="crn-textinput-cargo">
          <div class="form-group">
            <label for="textinput-cargo" class="">Cargo</label>
            <input
              type="text"
              ng-model="ExperienciaLinkedIn.active.cargo"
              class="form-control"
              id="textinput-cargo"
              placeholder="Cargo"
              >
          </div>
        </div>
        
        <div data-component="crn-textinput" id="crn-textinput-periodo">
          <div class="form-group">
            <label for="textinput-periodo" class="">Periodo</label>
            <div style="position:relative">
              <input type="text" as-date
              format="DD/MM/YYYY"
              ng-model="ExperienciaLinkedIn.active.periodo" class="form-control" id="textinput-periodo" placeholder="Periodo" >
            </div>
          </div>
        </div>
        
        <div data-component="crn-textinput" id="crn-textinput-cidade">
          <div class="form-group">
            <label for="textinput-cidade" class="">Cidade</label>
            <input
              type="text"
              ng-model="ExperienciaLinkedIn.active.cidade"
              class="form-control"
              id="textinput-cidade"
              placeholder="Cidade"
              >
          </div>
        </div>
        
        <div data-component="crn-textinput" id="crn-textinput-descricao">
          <div class="form-group">
            <label for="textinput-descricao" class="">Descricao</label>
            <input
              type="text"
              ng-model="ExperienciaLinkedIn.active.descricao"
              class="form-control"
              id="textinput-descricao"
              placeholder="Descricao"
              >
          </div>
        </div>
        <div data-component="crn-datasource" class="component-holder">
          <datasource name="Dadopessoallinkedin" entity="api/rest/itv/DadoPessoalLinkedIn" keys="id" class="" dependent-by="{{ExperienciaLinkedIn}}"></datasource>
        </div>
        
        <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-dadoPessoalLinkedIn">
          <div class="form-group">
            <label for="combobox-dynamic-dadoPessoalLinkedIn" class="">DadoPessoalLinkedIn</label>
            <ui-select ng-model="ExperienciaLinkedIn.active.dadoPessoalLinkedIn" crn-datasource="Dadopessoallinkedin" class="crn-select" id="combobox-dynamic-dadoPessoalLinkedIn"  theme="bootstrap">
              <ui-select-match class="" placeholder="Select...">
                {{$select.selected.url}}
              </ui-select-match>
              <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                <div class="" data-container="true">
                  {{rowData.url}}
                </div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <!-- NtoN  -->
        <!-- NtoN  end-->
      </fieldset>
    </form>
    <form>
        <fieldset>
        <!-- OneToN -->
        <!-- OneToOne  end -->
        </fieldset>
    </form>
  </div>
</div>


<!-- OneToOne modal -->
<!-- OneToOne modal end-->