<div class="centro" ng-hide="Pessoa.inserting || Pessoa.editing">
  <div class="container">  
    <label for="textinput-filter" class="">Pesquise uma pessoa:</label>
    <input type="text" ng-model="query" class="form-control" value="%" placeholder="Digite o nome da pessoa que deseja encontrar" style="width: 700px; height: 37px;">
    <button class="btn btn-primary" type="submit" onclick="" ng-click="pesquisar()" ng-hide="Pessoa.inserting || Pessoa.editing" style="position:absolute;left:720px;top:40%;"><i class="glyphicon glyphicon-search"></i></button>
  </div>
</div>
